@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    display:flex;
    justify-content:center;
    align-items:center;
    height: 100vh;
    margin: 0;
    background-color: rgb(35, 34, 34);
    font-family:open sans;
    background-image: url('https://source.unsplash.com/1600x900/?ipês,weather');
    font-size: 120%;
}

.card {
    background: #000000d0;
    color:white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
}

.search-box {
    display:flex;
    align-items:center;
    justify-content: center;

}

button:hover {
    background: black;
    color: white;
}
button {
    margin: 0.5em;
    width: max-content;
    border-radius: 50%;
    border: none;
    height: 2.5em;
    width: 2.5em;
    outline: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    background: #7c7c7c6b;
    color: white;
    
}

input.search-bar {
    width: 100%;
    margin: 0.1em;
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 30px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 120%;
}



